<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

<!-- Heading level 1 -->
    <h1>Sabrina Gong's Website</h1>

<!-- Robert H. Smith logo. Sized with width and height -->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="300" height="90" alt="Robert H. Smith School of Business logo">

<!-- Heading level 2 -->
    <h2>About Me</h2>
    <p>Hi, I'm <strong>Sabrina Gong</strong>, a senior at the University of Maryland studying Operations Management & Business Analytics and Information Systems.</p>
    <p>I'm <em>constantly</em> seeking new ways to learn, and I believe <strong>hands-on experience</strong> is the most effective way to build technical skills.</p>

<!-- Heading level 2 -->
<!-- Describe my interests below: -->
    <h2><strong>My Interests</strong></h2>
    <p>Here are some of my hobbies:</p>
    <ul>
        <li>Softball</li>
        <li>Hiking</li>
        <li>Skiing</li>
        <li>Watching new shows</li>
    </ul>

<!-- Describe my favorite music artists below: -->
    <p>Here are some of my favorite music artists:</p>
    <ul>
        <li>John Summit</li>
        <li>Wallows</li>
        <li>One Direction</li>
    </ul>

<!-- Heading level 2 -->
<!-- List out relevant coursework I took and the semester when I took them:-->
    <h2><strong>Relevant Coursework</strong></h2>
    <table>
        <tr>
          <th>Course</th>
          <th>Semester</th>
        </tr>
        <tr>
          <td>BMGT407</td>
          <td>Fall 2026</td>
        </tr>
        <tr>
          <td>BMGT403</td>
          <td>Spring 2026</td>
        </tr>
        <tr>
          <td>BMGT402</td>
          <td>Spring 2026</td>
        </tr>
        <tr>
          <td>BMGT302</td>
          <td>Fall 2025</td>
        </tr>
        <tr>
          <td>BMGT301</td>
          <td>Spring 2024</td>
        </tr>
      </table>

<!-- Heading level 2 -->
<!-- List my favorite websites to visit -->
    <h2><strong>Links</strong></h2>
    <p>Check out my <a href="/helloWorld2">hello page</a>.</p>
    <p>Two of my <em>favorite</em> sites are <a href="https://sudoku.com/killer" target="_blank">Killer Sudoku</a> and <a href="https://www.netflix.com">Netflix</a>.</p>

</body>
</html>